@import "lib/normalize";
@import "common/all";

body {
    overflow-x: hidden;
    background-color:#0f0027;
}

$panelColor: #353585;
$blobColor: #9faef0;
$rowColor: #3f3f92;

@keyframes blink {
    0% { 
        background-color:$panelColor;
    }
    50% {
        background-color:red;
    }
    100% {
        background-color:$panelColor;
    }
}

.root, main {
    display: inline-block;
    width:100%;
    height:100%;
    z-index:1;
}

nav {
    z-index: 100;
}

.panel_container {
    width:100%;
    height:80%;
    @include centerchild;
    &__int {
        width:calc(100% - 10vmin);
        height:95%;
        .control_panel {
            $rows: 5;
            float:left;
            width:60%;
            margin-right:1.5%;
            height:100%;
            background-color:$panelColor;
            color:white;
            .row {
                position:relative;
                width:80%;
                margin-right:5%;
                float:right;
                &.gap {
                    height: calc((100% / #{2 * $rows + 1}) / 2);
                }
                &.content {
                    height: calc((100% / #{2 * $rows + 1}) * 1.6);
                    background-color:$rowColor;
                    display:table;
                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    &#row1 {
                        @include centerchild-v;
                        .row__int {
                            width:100%;
                            .Dropdown-root {
                                width:40%;
                                float:left;
                                margin:0 5%;
                            }
                            .scenario_info {
                                width:50%;
                                float:right;
                                @include centerchild;
                                p {
                                    padding:0;
                                }
                            }
                        }
                    }
                    &#row5 {
                        font-size:3em;
                        @include centerchild;
                        animation: blink 2.5s;
                        animation-iteration-count: infinite;
                        @include clickable;
                        &:hover {

                        }
                    }
                    &:first-child, &:last-child {
                        &::before {
                            display:none;
                        }
                    }
                    &::before {
                        content:"";
                        display:block;
                        width:2px;
                        left: calc(-9% - 2px);
                        top: 60%;
                        height:100%;
                        background-color:$blobColor;
                        position:absolute;
                    }
                    .circle {
                        width:6vmin;
                        height:6vmin;
                        background-color:$blobColor;
                        position:absolute;
                        left: calc(-9% - 2px - 3vmin);
                        border-radius: 50%;
                        @include centerabs-v;
                    }
                    .tag {
                        background-color:$rowColor;
                        padding:1%;
                        font-family:monospace;
                        width: max-content;
                        position:absolute;
                        top:-1.4em;
                    }
                    .info_box{
                        display:table-cell;
                        height:100%;
                        
                        p {
                            width:100%;
                            text-align: center;
                            
                            &.data {
                                font-size:2em;
                                height:60%;
                                padding-top:5%;
                                
                            }
                            &.title {
                                height:20%;
                            }
                            float:right;
                        }
                        .data_in {
                            display:block;
                            font-size:2em;
                            height:60%;
                            padding:0 5%;
                            width:50%;
                            margin:7% auto;
                            background-color:white;
                        }
                    }
                }
            }
        }
        .settings_panel {
            float:right;
            width:38.5%;
            height:100%;
            background-color:$panelColor;
            color:white;
            .gauge_container{
                height:33.33%;
                position:relative;
                svg {
                    text{
                        fill:white !important;
                     }
                }
                &#ac, &#hum {
                    @include centerchild;
                }
                &#light {
                    svg {
                        float:left;
                    }
                    @include centerchild-v;
                    margin-left:5%;
                    .blinds {
                        right:10%;
                        @include centerabs-v;
                        font-size:2em;
                        width:max-content;
                    }
                }
            }
        }
    }

}

.result_container {
    width:100%;
    height:20%;
    @include centerchild;
    .result_box {
        width:calc(100% - 10vmin);
        height:80%;
        margin-bottom:1%;
        background-color:$panelColor;
        @include centerchild;
        .result_display {
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin:30% 5%;
            width:10%;
            height:40%;
            float:left;
            color:white;
            background-color:rgb(114, 12, 12);
            transition: background-color 1750ms ease-out;
            &.complete {
                color:white;
                background-color:rgb(20, 114, 12);
            }
            @include centerchild;
            .counter {
                font-size:1.5em;
            }
        }
    }
}